.menu{
    max-width: 108px;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #fff;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu ul{padding: 0;}
.menu ul li:first-child{margin-top: 0;}
.menu ul li {
    list-style: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.menu ul li:hover {
    background: #FFB400;
}

.menu ul li:hover path{
    fill: black;
}