body {
  width: 100%;
  background: #E5E5E5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.block-header{
  text-align: center;
}

.header-title{
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: bold;
  color: #2B2B2B;
}

.header-subtitle{
  max-width: 440px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #767676;
  line-height: 24px;
  margin-bottom: 50px;
}